.App{
  min-height: 90vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
 
}
.card{
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0,0,0.1);
  transition: 0.3s;
  margin-top: 20px;
 

  &:hover{
    width: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  img{
    width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
  }
  .title{
    font-size: 22px;
    color: #222;
    margin-bottom: 10px;


  }
  .desc{
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;

  }
  .price{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #27ae60;
   
  }
  .btn{
    background: #fda96d;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3;
  }
 

}