
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;

  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


form {
  background: #ffffff;
  padding: 25px 35px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
}


input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0,123,255,0.4);
}


input[type="checkbox"] {
  margin: 10px 0 20px 0;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}


div {
  margin-top: 20px;
  font-size: 16px;
}



input{
  size: 100%;
}
h1 {
  font-size: 28px;
  color: #007bff;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
button:disabled {
  background-color: #ccc; 
  color: #666; 
  cursor: not-allowed; 
  opacity: 0.7; 
  border: 1px solid #999;
}


