
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.App {
  padding: 40px;
  background: #f5f5f5;
  min-height: 60vh;
}


.App h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  color: #222;
}


.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}


.product-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f97316;
}

.product-card:hover {
  transform: translateY(-6px);
}


.product-img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  margin-bottom: 15px;
}


.product-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}


.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 15px;
}

.product-btn {
  background: #f97316;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.product-btn:hover {
  background: #cbad98;
}
